*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f4f6f8;
  color: #333;
  line-height: 1.6;
  padding: 40px;
}

#root {
  max-width: 800px;
  margin:auto;
  background-color: #ffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10 px rgba(0, 0, 0, 0.1);
}